/********** Header **********/
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #152A3E;
    color: whitesmoke;
}

.header-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

header img {
    width: 50%;
    height: auto;
    border: 2px solid #222;
    border-radius: 50%;
    margin: 40px 0 20px 0;
}

.name-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    width: 100%;
}

.name-title h1,
.name-title h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

/********** Navbar **********/
.navbar {
    display: flex;
    width: 100%;
    background-color: #222;
}

.navbar a {
    text-decoration: none;
}

.navbar .nav-item {
    text-align: center;
    width: 20%;
    color: whitesmoke;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    margin-left: 20%;
    margin-top: 38px;
    width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 0.8em;
}

.dropdown-content a {
    float: none;
    color: #152A3E;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.navbar .nav-item:hover {
    background-color: #E9B14C;
}

.dropdown-content a:hover {
    background-color: rgb(220, 220, 220);
}

.show {
    display: block;
}

.hide {
    display: none;
}

/******************** Oddly Large Phone Styling ********************/
@media all and (min-width: 450px) {
    header img {
        width: 30%;
    }
}

/******************** Tablet Styling ********************/
@media all and (min-width: 768px) {   
    .header-info {
        justify-content: flex-start;
        padding: 35px 0;
    }

    header img {
        width: 15%;
        margin: 0 20px 0 35px;
    }

    .name-title {
        justify-content: center;
        margin: 0;
        width: 50%;
    }

    .name-title h1,
    .name-title h3 {
        text-align: start;
    }

    .name-title h1 {
        font-size: 2.5em;
    }

    .name-title h3 {
        font-size: 1.5em;
    }

    .navbar .nav-item {
        font-size: 0.9em;
    }

    .dropdown-content {
        margin-top: 43px;
    }
}

/******************** Desktop Styling ********************/
@media all and (min-width: 1200px) {
    .header-info {
        margin: 20px 0;
    }

    header img {
        width: 17.5%;
        margin: 0 30px 0 45px;
    }

    .name-title h1 {
        font-size: 3em;
    }

    .name-title h3 {
        font-size: 2em;
    }
    
    .navbar .nav-item {
        font-size: 1em;
    }

    .dropdown-content {
        margin-top: 47px;
    }
}